* {
    margin: 0;
    padding: 0;
}


/*------- nav bar------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 230px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #FF900E;
    background: rgba(255, 144, 14, 0.1);
}

.nav-title {
    font-weight: 700;
    font-size: 45px
}

.nav-list {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}


/* header section */

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF900E;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 80px;
}


.header-title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.header-decribe {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
}

.btn-explore {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    border: none;
    size: 20px;
    font-weight: 600;
    text-align: center;
}

.header-img {
    margin: 45px 0;
}


/* ------section one feature-list -----*/
.feature {
    display: flex;
    justify-content: center;
    gap: 73px;
    align-items: center;
    margin-bottom: 120px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 24px;

}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.feature-describe {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 28px;
}



/* ------------article list ----------*/

.article-feature {
    display: flex;
    align-items: center;
    gap: 145px;
    justify-content: center;
}

.article-part {
    display: grid;
    grid-template-columns: 586px;
}

.article-feature-title {
    padding-left: 10px;
    font-weight: 700;
    font-size: 45px;
    border-left: 4px solid #FF900E;
    margin-bottom: 22px;
}

.article-feature-describe {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.article {
    width: 526px;
    height: 111px;
    padding: 30px;
    box-shadow: 1px 1px 1.2px 2px rgb(239, 239, 239);
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.article-box-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

/* floating btn */
.float-btn {
    position: relative;
    bottom: 115px;
    left: 915px;
    width: 222px;
    height: 130px;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
    text-align: center;
}


/* fact section */
.fact {
    margin: 130px 230px 0px;
}

.fact-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.fact-describe{
    margin-bottom: 100px;
}